html {
    font-size:25px;
    font-family:'Times New Roman', Times, serif;
}


/*header-area*/
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size:35px;
    color:red;
    font-weight:bold;
}

.header {
    /*Régler problème de largeur écran*/
    /* background-color: rgba(200,000,000,0.3); */
    text-align:center;
    height:auto;
    width:200px;
}

/*search area*/


/*containers-area*/
.container-1, .container-2, .container-3 {
    height:200px;
    width:95%;
    display:flex;
}

.container-1 > div {
    margin-top:0px;
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    padding-top:0px;
    padding-bottom:0px;
    padding-left:10px;
    padding-right:10px;
}